﻿<%@ Page Async="true" Language="C#" AutoEventWireup="true" CodeFile="ExtendSession.aspx.cs" Inherits="ExtendSession" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <asp:ScriptManager EnablePageMethods="true" ID="ExtendUserSessionManager" runat="server" ScriptMode="Release" LoadScriptsBeforeUI="true"></asp:ScriptManager>
        </div>
    </form>
</body>
</html>
