<div id='toolbar1' class='flowpaper_toolbar flowpaper_toolbarstd'>    
    <img src='images/bar.gif' class='flowpaper_tbseparator' alt='' />
    <img src='images/singlepage.gif' border='0' class='flowpaper_bttnSinglePage flowpaper_tbbutton_pressed flowpaper_tbbutton flowpaper_tbbutton_viewmode flowpaper_viewmode' onclick='$FlowPaper("documentViewer").switchMode("Portrait")' title='Single Page' alt='Single Page' />
    <img src='images/twopage.gif' border='0' class='flowpaper_bttnTwoPage flowpaper_tbbutton flowpaper_tbbutton_viewmode flowpaper_viewmode' title='Two Pages' alt='Two Pages' onclick='$FlowPaper("documentViewer").switchMode("TwoPage")'  />
    <img src='images/thumbs.gif' border='0' class='flowpaper_bttnThumbView flowpaper_tbbutton flowpaper_tbbutton_viewmode flowpaper_viewmode' title='Thumb View' alt='Thumb View' onclick='$FlowPaper("documentViewer").switchMode("Tile")'  />
    <img src='images/fit.gif' class='flowpaper_bttnFitWidth flowpaper_tbbutton flowpaper_tbbutton_fitmode flowpaper_fitmode' title='Fit Width' alt='Fit Width' onclick='$FlowPaper("documentViewer").fitWidth()'  />
    <img src='images/pagefit.gif' class='flowpaper_bttnFitHeight flowpaper_tbbutton flowpaper_tbbutton_fitmode flowpaper_fitmode' title='Fit Page' alt='Fit Page' onclick='$FlowPaper("documentViewer").fitHeight()'  />
    <img src='images/flip.gif' class='flowpaper_tbbutton' title='Rotate' alt='Rotate' onclick='$FlowPaper("documentViewer").rotate()'  />
    <img src='images/bar.gif' class='flowpaper_tbseparator' alt='' />
    <div class='flowpaper_slider flowpaper_zoomSlider'><div class='flowpaper_handle'></div></div>
    <input type='text' class='flowpaper_tbtextinput flowpaper_txtZoomFactor' id='txtZoomScale'  value='150%' style='width:36px;' />
    <img src='images/fullscreen.gif' class='flowpaper_bttnFullScreen flowpaper_tbbutton' title='Fullscreen' alt='Fullscreen' onclick='jQuery("#documentViewer").showFullScreen();'  />
    <img src='images/bar.gif' class='flowpaper_tbseparator' alt='' />
    <img src='images/icon-arrow-left.gif' class='flowpaper_bttnPrevPage flowpaper_tbbutton' onclick='$FlowPaper("documentViewer").prevPage()' title='Previous Page' alt='Previous Page'/>
    <input type='text' class='flowpaper_txtPageNumber flowpaper_tbtextinput' style='width:36px;' />
    <div class='flowpaper_lblTotalPages flowpaper_tblabel'> / </div>
    <img src='images/icon-arrow-right.gif' class='flowpaper_bttnPrevNext flowpaper_tbbutton' onclick='$FlowPaper("documentViewer").nextPage()' title='Next Page' alt='Next Page'/>
    <img src='images/bar.gif' class='flowpaper_tbseparator' alt='' />
    <img src='images/textselect.gif' class='flowpaper_bttnTextSelect flowpaper_tbbutton' title='Select Text' alt='Select Text' onclick="$FlowPaper('documentViewer').setCurrentCursor('TextSelectorCursor')"/>
    <img src='images/hand2.gif' class='flowpaper_bttnHand flowpaper_tbbutton flowpaper_tbbutton_pressed' title='Drag Cursor' alt='Drag Cursor'  onclick="$FlowPaper('documentViewer').setCurrentCursor('ArrowCursor')"/>
    <img src='images/bar.gif' class='flowpaper_tbseparator' alt='' />
    <input type='text' class='flowpaper_txtSearch flowpaper_tbtextinput' style='width:56px;margin-left:4px;' />
    <img src='images/find.gif' class='flowpaper_bttnTextSearch flowpaper_tbbutton' onclick='$FlowPaper("documentViewer").searchText(jQuery(this).parent().find(".flowpaper_txtSearch").val());' title='Search' alt='Search'/>
    <img src='images/bar.gif' class='flowpaper_tbseparator' alt='' />
    <img src='images/loader.gif' class='flowpaper_progress flowpaper_tbloader' alt='' />
</div>

<script language="javascript">
    // adjust IE 7 and below for textbox input size
    var userAgent   = navigator.userAgent.toLowerCase();
    var ismsie      = /msie/.test(userAgent) && !/opera/.test(userAgent);
    var browser_v   = (userAgent.match(/.+?(?:rv|it|ra|ie)[\/: ]([\d.]+)(?!.+opera)/) || [])[1];

    if(ismsie && browser_v < 8){
        jQuery('.flowpaper_tbtextinput').css('height','12px');
    }
</script>